* {
 	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

.header-img{
	width: 1970px;
	height:750px;
	width: 100%;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}


body{
	font-family: sans-serif;
}
main > article {
  	float: left;
  	width: 50%;
}
main > aside {
  	float: right;
  	width: 50%;
}

.content_startup{
	margin-top: 100px;
}
.rounded_btn{
	text-transform: uppercase;
	border-radius:40px;
	border: none;
	background-color: #29C2E1;
	color: white;
	padding: 10px 20px;
	font-size: 12px;
}

.margined_btn{
	margin-top: 20px;
	margin-left: 100px;
}

.startup_upper{
	text-transform: uppercase;
}

.startup_margin{
	margin-top: -20px;
	margin-bottom: 40px;
	font-size: 12px;
}
.startup_services{
	display: inline-block;
}

.startup_services p{
	font-weight:100;
}
.startup_services h3{
	font-weight:400;
}

.div_wrapper div{
	display: inline-block;

}
article > img{
	margin-top: 40px;

}
article >p {

	font-weight: 100;
}

aside > a{
	display: inline-block;
}
