* {
 	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

.header-img{
	width: 1970px;
	height:750px;
	width: 100%;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}


body{
	font-family: sans-serif;
}
main > article {
  	float: left;
  	width: 50%;
}
main > aside {
  	float: right;
  	width: 50%;
}

.content_startup{
	margin-top: 100px;
}
.rounded_btn{
	text-transform: uppercase;
	border-radius:40px;
	border: none;
	background-color: #29C2E1;
	color: white;
	padding: 10px 20px;
	font-size: 12px;
}

.margined_btn{
	margin-top: 20px;
	margin-left: 100px;
}

.startup_upper{
	text-transform: uppercase;
}

.startup_margin{
	margin-top: -20px;
	margin-bottom: 40px;
	font-size: 12px;
}
.startup_services{
	display: inline-block;
}

.startup_services p{
	font-weight:100;
}
.startup_services h3{
	font-weight:400;
}

.div_wrapper div{
	display: inline-block;

}
article > img{
	margin-top: 40px;

}
article >p {

	font-weight: 100;
}

aside > a{
	display: inline-block;
}
/*.content_pricing{
	margin-left: 150px;
}*/

.content_pricing h1{
	  text-transform: uppercase;
      font-size: 25px;
      padding: 0;
	  margin: 0;
}
.content_pricing h2{
	  padding: 0;
	  margin: 0;
	  text-transform: uppercase;
	  font-size: 15px;
	  font-weight: 100;

}
.pricing_features div{
	margin-top:  : 100px;
}

.pricing_title{
	  text-transform: uppercase;
	  border-bottom: 3px solid #f5f5f5;
	  text-align: center;
	  color:#000000;
	  padding-bottom: 10px;
     font-weight: bold;
}

.pricing_cost{
      border-bottom: 2px solid #f5f5f5;
	  text-align: center;
	  padding-bottom: 10px;
	  color:#f69b37;
}	
.features{
	  height:300px;
	  width:200px;
	  float: left;
	  border:3px solid #f5f5f5;
	  margin-left: 25px;
	  margin-top: 25px;
	  position: relative;

}

.features ul{
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  padding-bottom: 30px;
  color:#595959;

}
.features li{
	  padding-bottom: 10px;

}
.features button{
position:absolute;
bottom: 6px;
left:50px;
margin-bottom: 10px;
}
.rounded_btn{
	text-transform: uppercase;
	border-radius:40px;
	border: none;
	background-color: #29C2E1;
	color: white;
	padding: 10px 20px;
	font-size: 12px;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.clearfix{
  border-top: inset thin;
  padding-top: 40px;
  font-size: 14px;
}
.content_team{
 padding-top: 40px;
 background-color:#e5eef0;
 	height:300px;


}
.content_team h1{
	  text-transform: uppercase;
      font-size: 25px;
      padding: 0;
	  margin: 0;
}
.content_team h2{
	  padding: 0;
	  margin: 0;
	  text-transform: uppercase;
	  font-size: 15px;
	  font-weight: 100;

}
.team_members{
	height:100px;
	background-color:#000000;


}